body{
    font-family: 'Roboto', sans-serif !important;
}

.bg-dark-img{
    background: url('https://raw.githubusercontent.com/l4z0-space/cdn/e56d3938aec5b34d81e04c8117bee6ce3278c982/login.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.form-control{
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(148, 143, 143, 0.25);
    border-radius: 80px;
    padding: 10px;
}

.fw-300{
    font-weight: 300;
}

.btn-primary{
    background: #0C7489 !important;
}

.btn-primary:hover{
    background: #0C7489 !important;
}

.btn{
    border-radius: 80px;
}

.institution-list-item{
    background: #e8eeee;
    border-radius: 50px;
    margin: 5px;
    padding: 15px;
    font-weight: 200 !important;
}

.institution-list-item img{
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.text-primary{
    color: #0C7489 !important;
}
/* #root{
    margin: 20px;
} */
